apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
      addonmanager.kubernetes.io/mode: EnsureExists
data:
  Corefile: |
    .:53 {
        errors
        health
        #hosts {
        #    {{ MYSQL }}   cmop-mysql
        #    {{ ETCD }}   cmop-etcd
        #    {{ LOGSTASH }}  cmop-logstash
        #    fallthrough
        #}
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
        #    upstream {{ UPSTREAM }}
            upstream
            fallthrough in-addr.arpa ip6.arpa
        }
        prometheus :9153
        #proxy . {{ PROXY }}
        proxy . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
    }
#    out.kubernetes:53 {
#        errors
#        cache 30
#        proxy . 172.30.200.201
#    }
