{
    "CN": "kubernetes",
    "hosts": [
      "127.0.0.1",
      "{{ vip }}",
{% for host in groups['haproxy'] %}
      "{{ host }}",
{% endfor %}
{% for host in groups['master'] %}
      "{{ host }}",
{% endfor %}
      "{{ CLUSTER_KUBERNETES_SVC_IP }}",
      "kubernetes",
      "kubernetes.default",
      "kubernetes.default.svc",
      "kubernetes.default.svc.cluster",
      "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ Country }}",
            "ST": "{{ State }}",
            "L": "{{ City }}",
            "O": "{{ Organization }}",
            "OU": "{{ OU }}"
        }
    ]
}
