#!/bin/bash
# author: Netonline
# version: 2018-08-18 v0.1

kubectl config set-cluster kubernetes \
--certificate-authority={{ caSSLDir }}/ca.pem \
--embed-certs=true \
--server=https://{{ vip }}:6443 \
--kubeconfig=bootstrap.kubeconfig

kubectl config set-credentials kubelet-bootstrap \
--token={{ BOOTSTRAP_TOKEN }} \
--kubeconfig=bootstrap.kubeconfig

kubectl config set-context default \
--cluster=kubernetes \
--user=kubelet-bootstrap \
--kubeconfig=bootstrap.kubeconfig

kubectl config use-context default --kubeconfig=bootstrap.kubeconfig
