#!/bin/bash
# author: Netonline
# version: 2018-08-18 v0.1

kubectl config set-cluster kubernetes \
--certificate-authority={{ caSSLDir }}/ca.pem \
--embed-certs=true \
--server=https://{{ vip }}:6443 \
--kubeconfig=proxy.kubeconfig

kubectl config set-credentials system:kube-proxy \
--client-certificate={{ proxySSLDir }}/proxy.pem \
--embed-certs=true \
--client-key={{ proxySSLDir }}/proxy-key.pem \
--kubeconfig=proxy.kubeconfig

kubectl config set-context system:kube-proxy@kubernetes \
--cluster=kubernetes \
--user=system:kube-proxy \
--kubeconfig=proxy.kubeconfig

kubectl config use-context system:kube-proxy@kubernetes --kubeconfig=proxy.kubeconfig
