{
    "CN": "system:kube-scheduler",
    "hosts": [
{% for host in groups['master'] %}
        "{{ host }}"{% if not loop.last %},
{% endif %}
{% endfor %}

    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ Country }}",
            "ST": "{{ State }}",
            "L": "{{ City }}",
            "O": "system:kube-scheduler",
            "OU": "{{ OU }}"
        }
    ]
}
