#!/bin/bash
# author: Netonline
# version: 2018-08-18 v0.1

kubectl config set-cluster kubernetes \
--certificate-authority={{ caSSLDir }}/ca.pem \
--embed-certs=true \
--server=https://{{ vip }}:6443 \
--kubeconfig=scheduler.kubeconfig

kubectl config set-credentials system:kube-scheduler \
--client-certificate={{ schedulerSSLDir }}/scheduler.pem \
--embed-certs=true \
--client-key={{ schedulerSSLDir }}/scheduler-key.pem \
--kubeconfig=scheduler.kubeconfig

kubectl config set-context system:kube-scheduler@kubernetes \
--cluster=kubernetes \
--user=system:kube-scheduler \
--kubeconfig=scheduler.kubeconfig

kubectl config use-context system:kube-scheduler@kubernetes --kubeconfig=scheduler.kubeconfig
