{
    "CN": "flannel",
    "hosts": [],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ Country }}",
            "ST": "{{ State }}",
            "L": "{{ City }}",
            "O": "{{ Organization }}",
            "OU": "{{ OU }}"
        }
    ]
}
