{
    "CN": "admin",
    "hosts": [],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ Country }}",
            "ST": "{{ State }}",
            "L": "{{ City }}",
            "O": "system:masters",
            "OU": "{{ OU }}"
        }
    ]
}
